html {
    background-color: black;
    color: gray;
    margin: 0%;
    padding: 0%;
}

pre {
    margin-right: 7%;
    font-size: 1.15vw;
    font-family: "Comic Sans MS";
}

.timmy {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}