@import "/shared/css/fonts.css";

html {
    background-color: black;
    color: gray;
    margin: 0%;
    padding: 0%;

    font-family: "comic sans";
    font-size: 8px;
}

pre {
    margin-right: 7%;
    font-size: 1.15vw;
}

.timmy {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.mobilewarning {
    text-align: center;
    margin: 5vh;

    color: red;
    font-size: 20px;
    text-decoration: underline;
}