body {
    background-color: black;

    color: white;
    text-align: center;
}

hr {
    /* makes the horizontal line a bit shorter */
    width: 60%;
    color: black;
}

video {
    height: 50vh;
    border: 3px solid white;
}

#previouscotws {
    position: absolute;
    bottom: 2vh;
    left:0;
    right:0;
}

ul {
    display:inline-block;
    text-align: left;
}