.statuscontainer {
    position: absolute;
    left: 75%;
    right: 2%;
    top: 10%;
    bottom: 40%;

    background-color: rgba(255, 255, 255, 1);
    background-image: url("img/notepaper.png");

    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 35px;
    color: rgb(31, 31, 32);
}

img.darcywave {
    /* shadow behind the waving gif */
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.377))
}
img.kaylabutton {
    width: 20vw;
    transition: filter 0.25s ease, transform 0.25s ease;
}
img.kaylabutton:hover {
    transform: scale(1.1,1.1)
}

.slideup {
    transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);

    transform: translate(0,0);

    position: fixed;
    left: 70%;
    right: 5%;
    top: 93%;
    bottom: -65%;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction:column;
}

.slideup:hover {
    transform: translate(0,-80%);
}

.secretpanel {
    background-color: #6D7084;
    width: 100%;
    height: 100%;
}
.secretinput {
    width: 70%;
}

h3 {
    text-decoration: underline;
}

ul {
    display:inline-block;
    text-align: left;
    margin: 0;
    padding: 0;
}