/* font defs */
@font-face {
    font-family: "comic sans";
    src: url("/shared/fonts/comicsans.ttf");
}
@font-face {
    font-family: "freshman";
    src: url("/shared/fonts/freshman.ttf");
}
@font-face {
    font-family: "impact label";
    src: url("/shared/fonts/impactlabel.ttf");
}
@font-face {
    font-family: "kiwi soda";
    src: url("/shared/fonts/kiwisoda.ttf");
}
@font-face {
    font-family: "magazine";
    src: url("/shared/fonts/magazine.ttf");
}
@font-face {
    font-family: "pixel 1";
    src: url("/shared/fonts/pixel1.ttf");
}
@font-face {
    font-family: "pixelout";
    src: url("/shared/fonts/pixelout.ttf");
}
@font-face {
    font-family: "revista";
    src: url("/shared/fonts/revista.ttf");
}
@font-face {
    font-family: "alfred";
    src: url("/shared/fonts/alfred.otf");
}