.topbar {
    position: fixed;
    top: 0vh;
    bottom: 92vh;
    left: 0vw;
    right: 0vw;
    
    z-index: 100000;

    background-color: #00000080;
    backdrop-filter: blur(5px);
    border-bottom: 5px solid black;
}

.topbaricons {
    position:absolute;
    left: 0%;
    right: 30vw;
    top: 0vw;
    bottom: 0vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.topbaricon {
    height: 5vh;
    transition: transform 0.25s ease, filter 0.25s ease;
}
.topbaricon:hover {
    /* make it bigger when its hovered */
    transform: scale(1.15);
    /* make it brighter when hovered */
    filter: brightness(125%);
}

.scrollingcontainer {
    position:absolute;
    left: 70%;
    right: 0vw;
    top: 0vw;
    bottom: 0vw;

    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#marq {
    font-size: 165%;
}