html {
    background-color: black;
}
body, #marq {
    background-image: none;
    background-color: black;
    color: lime;

    overflow: hidden;
    font-family: monospace;
}

h1 {
    -webkit-text-stroke: 0px;
    font-family: monospace;
}

#topbaricons {
    filter: hue-rotate(90deg)
}

#chatroomroot {
    width: 80rem;
    height: 40rem;
    
    background-color: black;
    font-family: monospace;
    
    box-sizing: border-box;
    border: 2px solid lime;
    
    display: flex;
    flex-direction: column;
}
#downnotice {
    margin-top: 10%;
}

#chatroomhistory {
    width: 100%;
    height: 85%;
    
    background-color: black;
    
    box-sizing: border-box;
    border-bottom: 2px solid lime;
    
    text-align: left;
    /* padding: 2%; */
    
    overflow-y: auto;
    overflow-x: hidden;
}
#philbanner {
    width: 100%;
    height: 20%;

    background-color: black;

    box-sizing: border-box;
        border: 4px solid #FF3FEE;

    color: #FF3FEE;

    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2%;
}
#philcontainer {
    /* width: 50%; */
    height: 100%;

    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}
#philtopic {
    margin: 0;
}
#philfooter {
    font-size: 70%;
    margin: 0;
}

.chat {
    color: lime;
    
    display: flex;
    align-items: center;
    /* justify-content: center; */

    padding: .5%;
    padding-left: 1%;
    
    gap: 1%;
    width: 100%;
    /* height: 10%; */
    
    margin: 0;
    
    box-sizing: border-box;
        border-bottom: 1px dashed lime;

    display: flex;
        flex-direction: row;
}

.chatmain {
    width: 90%;
    height: 100%;

    display: flex;
        align-items: center;
        gap: 1%;
}
.chatmain.me {
    justify-content: center;
}

.chatside {
    width: 10%;
    height: 100%;

    display: flex;
        flex-direction: column;
        /* gap: .25%; */
        align-items: center;
        justify-content: center;
}
.time {
    font-size: 80%;
    margin: 0;

    text-align: center;
}

#chatroombottom {
    width: 100%;
    height: 15%;
    
    display: flex;
    
}

#chatroominputroot {
    width: 80%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: black;
}
#chatroominput {
    width: 90%;
    height: 3rem;
    
    background-color: black;
    color: lime;
    
    box-sizing: border-box;
    border: 1px dashed lime;
    
    font-size: 200%;
    
    resize: none;
    overflow: hidden;
}

#chatroompersonalizeroot {
    width: 20%;
    height: 100%;
    
    box-sizing: border-box;
    border-right: 2px solid lime;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
#chatroomnameinput {
    background-color: black;
    color: lime;
    border: 1px dashed lime;
    
    font-family: monospace;
}
#chatroomnameinput::placeholder {
    color: green;
}
#iconselect {
    width: 4rem;
    height: 4rem;
    
    background-color: black;
    border: 1px solid lime;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#iconselect:hover {
    background-color: lime;
    cursor: pointer;
}