.chat.kaylachat {
    color: #ff72c0;

    border-bottom: 1px dashed #ff72c0;
}
.chat.donaldchat {
    color: #ff7700;

    border-bottom: 1px dashed #ff7700;
}
.chat.ukubabechat {
    color: #575799;

    border-bottom: 1px dashed #575799;
}
.chat.paintchat {
    color: #1c2dc5;

    border-bottom: 1px dashed #1c2dc5;
}
.chat.systemchat {
    color: #FF3FEE;

    border-bottom: 1px dashed #FF3FEE;
}