@property --color {
    syntax: '<color>';
    initial-value: black;
    inherits: true;
}

:root {
    transition: --color 1s ease-in-out;
}

body {
    background-image: linear-gradient(rgb(255, 255, 255), var(--color));
    color: var(--color)
}