@property --color {
    syntax: '<color>';
    initial-value: rgb(255, 174, 107);
    inherits: true;
}

:root {
    transition: --color .15s ease-in-out;
}

html {
    filter: hue-rotate(0deg);
}

body {
    background-image: linear-gradient(rgb(255, 255, 255), var(--color));
    color: var(--color);
}

.friends {
    /* background-color: red; */
    /* height: 40vh;*/
    /* width: 100%; */

    display: grid;
    place-items: center;
}
.friends > * {
    grid-area: 1/1;
}

.friendimg {
    /* width:60%; */
    /* outline: 1px solid red; */
    transition: transform 0.15s ease;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.363))
}